* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  color: #a6282e;
  font-family: "Roboto";
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

h1 {
  margin: 10px 0;
  color: #a6282e;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
  color: #303030;
}

h3 {
  margin: 10px 0;
  color: #303030;
}

.add-member-heading {
  margin-top: 40px;
}
ul li {
  padding: 0.4rem;
  text-align: left;
}

.select-dates {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 0;
  align-items: center;
}

/* ---------------- add member form ----------------- */
.add-member-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 0;
  align-items: center;
}

.add-member-text-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.add-member-field-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.add-member-input {
  width: 320px;
  height: 50px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 4px;
  color: #333; /* Change to appropriate text color */
  background: #fff;
  border: 1px solid #ccc; /* Change to appropriate border color */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); /* Change to appropriate box-shadow values */
}

.add-member-field:hover,
.add-member-field:focus {
  border: 1px solid rgba(0, 0, 0, 0.87);
  outline: 0;
}

.selected-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 0;
  align-items: center;
}

.mui-table {
  min-width: 600px;
}

@media screen and (max-width: 599px) {
  .mui-table {
    min-width: 320px;
  }
}

.member-table {
  border-collapse: collapse;
  margin-top: 5em;
}

.member-table td,
.member-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.member-table tbody tr td:nth-child(1) {
  text-align: center;
  width: 50px;
}

.member-table tbody tr td:not(:first-child) {
  width: 150px;
}

.member-table tr:hover {
  background-color: darkgray;
}

.member-table tr {
  text-align: left;
}

.member-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #a6282e;
  color: white;
}

.absences-list {
  display: flex;
  flex-direction: column;
}

.absences-list > * {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: #303030;
  font-size: 12px;
  margin-left: 20px;
}

p.link {
  cursor: pointer;
}

.absences {
  padding: 0.4rem;
  text-align: left;
}

.clear-all {
  margin: 3em 0;
}
button {
  background-color: #a6282e;
  border: none;
  padding: 0.8rem 2.4rem;
  font-family: "Roboto";
  border-radius: 4px;
  color: white;
  width: fit-content;
  cursor: pointer;
}

.rmdp-wrapper {
  z-index: 1 !important;
}
.rmdp-arrow {
  border: solid #a6282e !important;
  border-width: 0 2px 2px 0 !important;
}

.rmdp-arrow-container:hover {
  background-color: #a0a0a0 !important;
}

.rmdp-week-day {
  color: #a6282e !important;
}

.rmdp-day.rmdp-today span {
  background-color: #fff !important;
  color: black !important;
  border-radius: 50% !important;
  border: 1px solid #a6282e !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #a6282e !important;
}

/* ---------------------- Signup Page Styling --------------------- */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
form {
  margin-top: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.alert {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.text-center {
  text-align: center;
}
.mt-2 {
  margin-top: 20px;
}
.w-50 {
  width: 50%;
}

/* ------------------------ Nav Menu ----------------------  */

.nav-menu {
  background-color: #343a40;
  padding: 1rem;
}

.container {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.nav-menu-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu-brand {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

/* .nav-menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-menu-toggle-icon {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.nav-menu-toggle-icon::before,
.nav-menu-toggle-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  transition: transform 0.2s ease;
}

.nav-menu-toggle-icon::before {
  top: -8px;
}

.nav-menu-toggle-icon::after {
  bottom: -8px;
}

.nav-menu-toggle.open .nav-menu-toggle-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-menu-toggle.open .nav-menu-toggle-icon::after {
  transform: rotate(-45deg);
  bottom: 0;
} */

.nav-menu-collapse {
  display: flex;
}

.nav-menu-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.logout-btn {
  background: white;
  border: none;
  color: #a6282e;
  cursor: pointer;
}

/*https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices*/
@media (hover: hover) and (pointer: fine) {
  .rmdp-day.rmdp-today span:hover {
    border: none !important;
  }
  .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
    background-color: #c8c8c8 !important;
    color: #fff;
  }
  span.sd:hover {
    color: #fff !important;
  }
}
