* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  color: #a6282e;
  font-family: "Roboto";
  text-align: center;
  /* gap: 50px; */
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

h1 {
  margin: 10px 0;
  color: #a6282e;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
  color: #303030;
}

h3 {
  margin: 10px 0;
  color: #303030;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 0;
  align-items: center;
}

ul li {
  padding: 0.4rem;
  text-align: left;
}

.absences-list {
  display: flex;
  flex-direction: column;
}

.absences-list > * {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: #303030;
  font-size: 12px;
  margin-left: 20px;
}

/* div:has(> p.link) {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
} */

p.link {
  cursor: pointer;
}

.absences {
  padding: 0.4rem;
  text-align: left;
}

button {
  background-color: #a6282e;
  border: none;
  padding: 0.8rem 2.4rem;
  font-family: "Roboto";
  /* font-size: 1.4rem; */
  /* font-weight: 700; */
  /* margin: 0 0.8rem; */
  border-radius: 4px;
  color: white;
  /* display: inline-block; */
  width: fit-content;
  cursor: pointer;
}

.rmdp-arrow {
  border: solid #a6282e !important;
  border-width: 0 2px 2px 0 !important;
}

.rmdp-arrow-container:hover {
  background-color: #a0a0a0 !important;
}

.rmdp-week-day {
  color: #a6282e !important;
}

.rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
  background-color: #a6282e !important;
  color: #fff;
}

.rmdp-day.rmdp-today span {
  background-color: #a0a0a0 !important;
  color: #fff;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #a6282e !important;
}
